<a href="https://colab.research.google.com/github/GabrielaGuayara/Open-Data-Bootcamp/blob/main/Day_1_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!gdown 1LjyseH68h78wBK6c5bsPJANVKJv6QO_P -O superstore_clean.csv

Downloading...
From: https://drive.google.com/uc?id=1LjyseH68h78wBK6c5bsPJANVKJv6QO_P
To: /content/superstore_clean.csv
100% 2.25M/2.25M [00:00<00:00, 184MB/s]

# Import required packages

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# About dataset
## Context
With growing demands and cut-throat competitions in the market, a Superstore Giant is seeking your knowledge in understanding what works best for them. They would like to understand which products, regions, categories and customer segments they should target or avoid.

You can even take this a step further and try and build a Regression model to predict Sales or Profit.

Go crazy with the dataset, but also make sure to provide some business insights to improve.

## Metadata
| Column Name   | Description                                   |
| ------------- | --------------------------------------------- |
| Row ID        | Unique ID for each row                        |
| Order ID      | Unique Order ID for each Customer             |
| Order Date    | Order Date of the product                     |
| Ship Date     | Shipping Date of the Product                  |
| Ship Mode     | Shipping Mode specified by the Customer       |
| Customer ID   | Unique ID to identify each Customer           |
| Customer Name | Name of the Customer                          |
| Segment       | The segment where the Customer belongs        |
| Country       | Country of residence of the Customer          |
| City          | City of residence of of the Customer          |
| State         | State of residence of the Customer            |
| Postal Code   | Postal Code of every Customer                 |
| Region        | Region where the Customer belong              |
| Product ID    | Unique ID of the Product                      |
| Category      | Category of the product ordered               |
| Sub-Category  | Sub-Category of the product ordered           |
| Product Name  | Name of the Product                           |
| Sales         | Sales of the Product                          |
| Quantity      | Quantity of the Product                       |
| Discount      | Discount provided                             |
| Profit        | Profit/Loss incurred                          |


## Acknowledgements
I do not own this data. I merely found it from the Tableau website. All credits to the original authors/creators. For educational purposes only.

## Questions

In [ ]:
# 1. Display the first 10 records of the DataFrame
df = pd.read_csv("superstore_clean.csv")
df.head(10)
df.iloc(:10)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
2,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164
5,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7.0,0.00,14.1694
6,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4.0,0.00,1.9656
7,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6.0,0.20,90.7152
8,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3.0,0.20,5.7825
9,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5.0,0.00,34.4700

In [ ]:
# 2. Show the data types of each column
df.type()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9807 entries, 0 to 9806
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9807 non-null   object
 1   Order Date     9807 non-null   object
 2   Ship Date      9807 non-null   object
 3   Ship Mode      9807 non-null   object
 4   Customer ID    9807 non-null   object
 5   Customer Name  9807 non-null   object
 6   Segment        9807 non-null   object
 7   Country        9807 non-null   object
 8   City           9807 non-null   object
 9   State          9807 non-null   object
 10  Postal Code    9807 non-null   float64
 11  Region         9807 non-null   object
 12  Product ID     9807 non-null   object
 13  Category       9807 non-null   object
 14  Sub-Category   9807 non-null   object
 15  Product Name   9807 non-null   object
 16  Sales          9807 non-null   float64
 17  Quantity       9807 non-null   float64
 18  Discount       9807 non-null   float64
 19  Profit         9807 non-null   float64
dtypes: float64(5), object(15)
memory usage: 1.5+ MB

In [ ]:
# 3.Find the total sales and total profit
df['Sales'].sum(), df['Profit'].sum()

(2252570.4335, 287923.7503)

In [ ]:
# 4. Find the number of orders for each shipping mode
#df.groupby('Ship Mode').unique()
df.groupby('Ship Mode')["Order ID"].count()
df.groupby("Ship Mode", as_index= False)["Order ID"].count()

        Ship Mode  Order ID
0     First Class      1513
1        Same Day       530
2    Second Class      1911
3  Standard Class      5853

In [ ]:
# 5. Convert the 'Order Date' column to datetime format and extract the month and year into separate columns
df["Order Date"]=pd.to_datetime(df["Order Date"])

df['year']=df["Order Date"].dt.year
df['month']=df["Order Date"].dt.month

df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,year,month,weekday,Profitability
0,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136,2016,11,1,Profitable
1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820,2016,11,1,Profitable
2,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714,2016,6,6,Profitable
3,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310,2015,10,6,Not Profitable
4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164,2015,10,6,Profitable

In [ ]:
# 6. Find the average discount given by category
df.groupby("Category", as_index=False)["Discount"].mean()

          Category  Discount
0        Furniture  0.173677
1  Office Supplies  0.156889
2       Technology  0.131938

In [ ]:
# 7. Create a new column that indicates whether the order was profitable (Profit > 200)
df["Profitability"]=df['Profit'].apply(lambda x: "Profitable" if x > 0 else "Not Profitable")
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,year,month,weekday,Profitability
0,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136,2016,11,1,Profitable
1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820,2016,11,1,Profitable
2,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714,2016,6,6,Profitable
3,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310,2015,10,6,Not Profitable
4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164,2015,10,6,Profitable

In [ ]:
# 8. Find the total sales for each year
df.groupby("year")["Sales"].sum()

year
2014    475639.8651
2015    460281.6022
2016    598546.1890
2017    718102.7772
Name: Sales, dtype: float64

In [ ]:
# 9. Find the average quantity of products sold per order
df.groupby("Order ID", as_index=False)["Quantity"].mean()

            Order ID  Quantity
0     CA-2014-100006  3.000000
1     CA-2014-100090  4.500000
2     CA-2014-100293  6.000000
3     CA-2014-100328  1.000000
4     CA-2014-100363  2.500000
...              ...       ...
4950  US-2017-168802  4.000000
4951  US-2017-169320  3.500000
4952  US-2017-169488  3.500000
4953  US-2017-169502  4.000000
4954  US-2017-169551  2.666667

[4955 rows x 2 columns]

In [ ]:
# 10. Count the number of orders made in each region
df.groupby("Region", as_index=False)["Order ID"].count()

    Region  Order ID
0  Central      2293
1     East      2798
2    South      1591
3     West      3125