<a href="https://colab.research.google.com/github/GabrielaGuayara/Open-Data-Bootcamp/blob/main/Day_1_Data_Preprocessing_workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!gdown 1Drr78k2XoMVT0UOBoTadCVL7E-5kfRMI -O superstore_missing.csv

Downloading...
From: https://drive.google.com/uc?id=1Drr78k2XoMVT0UOBoTadCVL7E-5kfRMI
To: /content/superstore_missing.csv
100% 2.29M/2.29M [00:00<00:00, 202MB/s]

# Import required packages

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# About dataset
## Context
With growing demands and cut-throat competitions in the market, a Superstore Giant is seeking your knowledge in understanding what works best for them. They would like to understand which products, regions, categories and customer segments they should target or avoid.

You can even take this a step further and try and build a Regression model to predict Sales or Profit.

Go crazy with the dataset, but also make sure to provide some business insights to improve.

## Metadata
| Column Name   | Description                                   |
| ------------- | --------------------------------------------- |
| Row ID        | Unique ID for each row                        |
| Order ID      | Unique Order ID for each Customer             |
| Order Date    | Order Date of the product                     |
| Ship Date     | Shipping Date of the Product                  |
| Ship Mode     | Shipping Mode specified by the Customer       |
| Customer ID   | Unique ID to identify each Customer           |
| Customer Name | Name of the Customer                          |
| Segment       | The segment where the Customer belongs        |
| Country       | Country of residence of the Customer          |
| City          | City of residence of of the Customer          |
| State         | State of residence of the Customer            |
| Postal Code   | Postal Code of every Customer                 |
| Region        | Region where the Customer belong              |
| Product ID    | Unique ID of the Product                      |
| Category      | Category of the product ordered               |
| Sub-Category  | Sub-Category of the product ordered           |
| Product Name  | Name of the Product                           |
| Sales         | Sales of the Product                          |
| Quantity      | Quantity of the Product                       |
| Discount      | Discount provided                             |
| Profit        | Profit/Loss incurred                          |


## Acknowledgements
I do not own this data. I merely found it from the Tableau website. All credits to the original authors/creators. For educational purposes only.

# Chapter 1: Pandas DataFrame

## 1.1 Load data

Other example
```python
data = pd.read_html('https://en.wikipedia.org/wiki/Epyc')
data[1]
```

In [ ]:
df = pd.read_csv("superstore_missing.csv")

## 1.2 Insepct data

In [ ]:
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
2,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164

In [ ]:
df.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9990.000000   9987.000000  9991.000000  9987.000000  9987.000000
mean   55196.674775    229.947298     3.788309     0.156122    28.653593
std    32061.714207    623.426601     2.224337     0.206411   234.338010
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.264000     2.000000     0.000000     1.727100
50%    56560.000000     54.660000     3.000000     0.200000     8.671500
75%    90008.000000    209.970000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

In [ ]:
df['Sales'].min(), df['Sales'].max(), df['Sales'].sum, df['Sales'].std()

(0.444,
 22638.48,
 <bound method NDFrame._add_numeric_operations.<locals>.sum of 0       261.9600
 1       731.9400
 2        14.6200
 3       957.5775
 4        22.3680
           ...
 9991     91.9600
 9992    258.5760
 9993     29.6000
 9994    243.1600
 9995    243.1600
 Name: Sales, Length: 9996, dtype: float64>,
 623.4266006581975)

# Chapter 2: Data Cleaning in Pandas

## 2.1 Handle duplicate values

In [ ]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9991     True
9992    False
9993    False
9994    False
9995     True
Length: 9996, dtype: bool

In [ ]:
df.duplicated().sum()

3

In [ ]:
df[df.duplicated(keep=False)]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3405,US-2014-150119,4/23/2014,4/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229.0,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2.0,0.3,-12.0588
3406,US-2014-150119,4/23/2014,4/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229.0,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2.0,0.3,-12.0588
9990,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2.0,0.0,15.6332
9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2.0,0.0,15.6332
9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2.0,0.0,72.9480
9995,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2.0,0.0,72.9480

In [ ]:
df.drop_duplicates()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
2,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3.0,0.20,4.1028
9990,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2.0,0.00,15.6332
9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2.0,0.20,19.3932
9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4.0,0.00,13.3200
9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2.0,0.00,72.9480

In [ ]:
df=df.drop_duplicates()

In [ ]:
df.duplicated().sum()

0

## 2.2 Handle missing values

In [ ]:
df.test=df.copy()

<ipython-input-68-58c401192dac>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.test=df.copy()

In [ ]:
df.duplicated().info()

<class 'pandas.core.series.Series'>
Int64Index: 9993 entries, 0 to 9994
Series name: None
Non-Null Count  Dtype
--------------  -----
9993 non-null   bool
dtypes: bool(1)
memory usage: 87.8 KB

In [ ]:
df.shape

(9993, 20)

In [ ]:
df.isna().sum()

Order ID         10
Order Date       11
Ship Date         9
Ship Mode        15
Customer ID      10
Customer Name    10
Segment           8
Country           5
City             10
State            13
Postal Code       6
Region           14
Product ID        7
Category         13
Sub-Category      6
Product Name     11
Sales             9
Quantity          5
Discount          9
Profit            9
dtype: int64

### 2.2.1 Imputing missing data

In [ ]:
df_test=df.copy()

In [ ]:
df["Segment"].unique()

array(['Consumer', 'Corporate', 'Home Office', nan], dtype=object)

In [ ]:
df["Segment"].value_counts()

Consumer       5188
Corporate      3016
Home Office    1781
Name: Segment, dtype: int64

### 2.2.2 Remove missing data

In [ ]:
df=df.dropna()

In [ ]:
df.isna().sum()

Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

# Chapter 3: Data Manipulation

## 3.1 Indexing, slicing, filtering and Sorting

In [ ]:
df.iloc[0:5, 0:5]

         Order ID  Order Date   Ship Date       Ship Mode Customer ID
0  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

**`iloc`**

* `iloc` is integer-based indexing. You use it to select data based on its numerical position in the data.
* It accepts only integer values, representing the row/column indices.
* It excludes the last element

**`loc`**

* `loc` is label-based indexing. You use it to select data based on the data's label.
* It accepts labels of rows or columns to be selected.
* It includes the last element

In [ ]:
df.loc()

### Boolean Masking - Filtering

* Boolean masking is used to select data based on conditions.
* A Boolean mask is an array which can be of one dimension like a series, or two dimensions like a dataframe, where each of the elements of the array are either true or false. This array is essentially overlaid on the data structure that we are querying.

In [ ]:
mask=((df['Profit']>500) & (df['Segment']=="Consumer"))
df.loc[mask,["Segment", "Order ID"]]

       Segment        Order ID
251   Consumer  CA-2016-145625
392   Consumer  US-2014-135972
509   Consumer  CA-2015-145352
814   Consumer  CA-2017-143686
1001  Consumer  CA-2015-124891
1022  Consumer  CA-2015-124450
1085  Consumer  US-2016-143819
1250  Consumer  CA-2017-115602
1625  Consumer  CA-2015-157084
1711  Consumer  CA-2017-123491
1791  Consumer  CA-2014-120474
1896  Consumer  CA-2017-141789
2182  Consumer  CA-2016-128818
2298  Consumer  CA-2015-113145
2492  Consumer  CA-2014-144624
3150  Consumer  CA-2015-147830
3384  Consumer  CA-2015-130659
3628  Consumer  CA-2014-169726
3983  Consumer  CA-2016-135265
4093  Consumer  CA-2015-102491
4098  Consumer  CA-2014-116904
4190  Consumer  CA-2017-166709
4428  Consumer  CA-2017-119452
4639  Consumer  CA-2016-102162
5126  Consumer  CA-2014-160766
5425  Consumer  CA-2016-153598
5530  Consumer  CA-2017-160885
5710  Consumer  US-2015-160857
5756  Consumer  CA-2014-163748
5990  Consumer  US-2017-163300
6425  Consumer  CA-2016-143714
6520  Consumer  CA-2017-138289
6534  Consumer  CA-2014-128209
6626  Consumer  CA-2014-145541
6631  Consumer  CA-2016-105081
6817  Consumer  CA-2014-144414
6884  Consumer  CA-2015-120677
7280  Consumer  CA-2015-162782
7520  Consumer  US-2017-167920
7579  Consumer  CA-2015-123113
7846  Consumer  CA-2015-125976
8153  Consumer  CA-2017-140151
8312  Consumer  US-2017-105935
8488  Consumer  CA-2016-158841
8749  Consumer  US-2015-163825
9033  Consumer  CA-2014-152268
9039  Consumer  CA-2016-117121
9165  Consumer  CA-2016-100300
9270  Consumer  US-2017-102183
9273  Consumer  CA-2017-146983
9398  Consumer  CA-2014-125997
9490  Consumer  CA-2017-111738
9513  Consumer  CA-2016-125220
9929  Consumer  CA-2016-129630

### Sorting

In [ ]:
df.sort_values(by=["Sales","Discount"] ,ascending=False)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2697,CA-2014-145317,3/18/2014,3/23/2014,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,Florida,32216.0,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480,6.0,0.5,-1811.0784
6826,CA-2016-118689,10/2/2016,10/9/2016,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Lafayette,Indiana,47905.0,Central,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.950,5.0,0.0,8399.9760
8153,CA-2017-140151,3/23/2017,3/25/2017,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,Washington,98115.0,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4.0,0.0,6719.9808
2623,CA-2017-127180,10/22/2017,10/24/2017,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,New York,10024.0,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4.0,0.2,3919.9888
4190,CA-2017-166709,11/17/2017,11/22/2017,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,Delaware,19711.0,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970,3.0,0.0,5039.9856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,US-2014-152723,9/26/2014,9/26/2014,Same Day,HG-14965,Henry Goldwyn,Corporate,United States,Mesquite,Texas,75150.0,Central,OFF-BI-10003460,Office Supplies,Binders,Acco 3-Hole Punch,0.876,1.0,0.8,-1.4016
4711,CA-2014-112403,3/31/2014,3/31/2014,Same Day,JO-15280,Jas O'Carroll,Consumer,United States,Philadelphia,Pennsylvania,19120.0,East,OFF-BI-10003529,Office Supplies,Binders,Avery Round Ring Poly Binders,0.852,1.0,0.7,-0.5964
8658,CA-2016-168361,6/21/2016,6/25/2016,Standard Class,KB-16600,Ken Brennan,Corporate,United States,Chicago,Illinois,60623.0,Central,OFF-BI-10003727,Office Supplies,Binders,Avery Durable Slant Ring Binders With Label Ho...,0.836,1.0,0.8,-1.3376
9292,CA-2017-124114,3/2/2017,3/2/2017,Same Day,RS-19765,Roland Schwarz,Corporate,United States,Waco,Texas,76706.0,Central,OFF-BI-10004022,Office Supplies,Binders,Acco Suede Grain Vinyl Round Ring Binder,0.556,1.0,0.8,-0.9452
4101,US-2017-102288,6/19/2017,6/23/2017,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,United States,Houston,Texas,77095.0,Central,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1.0,0.8,-1.1100

## 3.2 Grouping and aggregating

In [ ]:
df.groupby('Ship Mode')["Sales"].sum()

Ship Mode
First Class       3.486311e+05
Same Day          1.258726e+05
Second Class      4.523468e+05
Standard Class    1.325720e+06
Name: Sales, dtype: float64

In [ ]:
type(df['Sales'])

pandas.core.series.Series

In [ ]:
df_group_1=df.groupby(['Ship Mode'], as_index=False)["Sales"].mean()
df_group_1

        Ship Mode       Sales
0     First Class  230.423752
1        Same Day  237.495436
2    Second Class  236.706844
3  Standard Class  226.502637

In [ ]:
df_group_1=df.groupby(['Ship Mode'], as_index=False)["Sales"].max()
df_group_1

        Ship Mode     Sales
0     First Class  13999.96
1        Same Day   7999.98
2    Second Class   8749.95
3  Standard Class  22638.48

In [ ]:
df_group_1=df.groupby(['State'], as_index=False)["Customer ID"].count()
df_group_1=df_group_1.sort_values("Customer ID", ascending=False)
df_group_1.iloc[:10]

             State  Customer ID
3       California         1959
30        New York         1112
41           Texas          970
36    Pennsylvania          575
45      Washington          494
11        Illinois          483
33            Ohio          460
8          Florida          375
20        Michigan          252
31  North Carolina          247

## 3.3 Advanced operations

In [ ]:
df['Profit per Item']=df['Profit']/df['Quantity']
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Profit per Item
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136,20.9568
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820,73.1940
2,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714,3.4357
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310,-76.6062
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164,1.2582

In [ ]:
df['Original Price']=df['Sales']/(1-(df['Discount']))
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Quantity,Discount,Profit,Profit per Item,order status_1,order status_2,year,month,weekday,Original Price
0,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,2.0,0.00,41.9136,20.9568,Profitable,Profitable,2016,11,1,261.96
1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,3.0,0.00,219.5820,73.1940,Profitable,Profitable,2016,11,1,731.94
2,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,2.0,0.00,6.8714,3.4357,Profitable,Profitable,2016,6,6,14.62
3,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,5.0,0.45,-383.0310,-76.6062,Not,Not Profitable,2015,10,6,1741.05
4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,2.0,0.20,2.5164,1.2582,Profitable,Profitable,2015,10,6,27.96

In [ ]:
df=df.rename(columns=("order status_1" : "order status_#"))
df.columns

In [ ]:
def test(x):
  return "Profitable " if x>0 else "Not"
df["order status_1"]=df['Profit'].apply(test)
df["order status_2"]=df['Profit'].apply(lambda x: "Profitable" if x > 0 else "Not Profitable")
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Profit per Item,order status_1,order status_2
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136,20.9568,Profitable,Profitable
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820,73.1940,Profitable,Profitable
2,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714,3.4357,Profitable,Profitable
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310,-76.6062,Not,Not Profitable
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164,1.2582,Profitable,Profitable

## 3.4 Handling date and time data

In [ ]:
#
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9807 entries, 0 to 9994
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order ID         9807 non-null   object
 1   Order Date       9807 non-null   object
 2   Ship Date        9807 non-null   object
 3   Ship Mode        9807 non-null   object
 4   Customer ID      9807 non-null   object
 5   Customer Name    9807 non-null   object
 6   Segment          9807 non-null   object
 7   Country          9807 non-null   object
 8   City             9807 non-null   object
 9   State            9807 non-null   object
 10  Postal Code      9807 non-null   float64
 11  Region           9807 non-null   object
 12  Product ID       9807 non-null   object
 13  Category         9807 non-null   object
 14  Sub-Category     9807 non-null   object
 15  Product Name     9807 non-null   object
 16  Sales            9807 non-null   float64
 17  Quantity         9807 non-null   float64
 18  Discount         9807 non-null   float64
 19  Profit           9807 non-null   float64
 20  Profit per Item  9807 non-null   float64
 21  order status_1   9807 non-null   object
 22  order status_2   9807 non-null   object
dtypes: float64(6), object(17)
memory usage: 1.8+ MB

In [ ]:
df["Order Date"]=pd.to_datetime(df["Order Date"])
#df["Ship Date"]=pd.to_datetime

In [ ]:
df['year']=df["Order Date"].dt.year
df['month']=df["Order Date"].dt.month
df['weekday']=df["Order Date"].dt.weekday
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Sales,Quantity,Discount,Profit,Profit per Item,order status_1,order status_2,year,month,weekday
0,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,261.9600,2.0,0.00,41.9136,20.9568,Profitable,Profitable,2016,11,1
1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,731.9400,3.0,0.00,219.5820,73.1940,Profitable,Profitable,2016,11,1
2,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,14.6200,2.0,0.00,6.8714,3.4357,Profitable,Profitable,2016,6,6
3,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,957.5775,5.0,0.45,-383.0310,-76.6062,Not,Not Profitable,2015,10,6
4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,22.3680,2.0,0.20,2.5164,1.2582,Profitable,Profitable,2015,10,6

In [ ]:
df["Shipped days"]=(df["Ship Date"]).dt.days

In [ ]:
df.loc[df['year']==2016]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Sales,Quantity,Discount,Profit,Profit per Item,order status_1,order status_2,year,month,weekday
0,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,261.960,2.0,0.0,41.9136,20.9568,Profitable,Profitable,2016,11,1
1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,731.940,3.0,0.0,219.5820,73.1940,Profitable,Profitable,2016,11,1
2,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,14.620,2.0,0.0,6.8714,3.4357,Profitable,Profitable,2016,6,6
13,CA-2016-161389,2016-12-05,12/10/2016,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,Washington,...,407.976,3.0,0.2,132.5922,44.1974,Profitable,Profitable,2016,12,0
21,CA-2016-137330,2016-12-09,12/13/2016,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,...,19.460,7.0,0.0,5.0596,0.7228,Profitable,Profitable,2016,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9978,US-2016-103674,2016-12-06,12/10/2016,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,California,...,13.376,4.0,0.2,4.6816,1.1704,Profitable,Profitable,2016,12,1
9979,US-2016-103674,2016-12-06,12/10/2016,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,California,...,437.472,14.0,0.2,153.1152,10.9368,Profitable,Profitable,2016,12,1
9982,US-2016-157728,2016-09-22,9/28/2016,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Grand Rapids,Michigan,...,35.560,7.0,0.0,16.7132,2.3876,Profitable,Profitable,2016,9,3
9983,US-2016-157728,2016-09-22,9/28/2016,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Grand Rapids,Michigan,...,97.980,2.0,0.0,27.4344,13.7172,Profitable,Profitable,2016,9,3
9986,CA-2016-125794,2016-09-29,10/3/2016,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,California,...,36.240,1.0,0.0,15.2208,15.2208,Profitable,Profitable,2016,9,3

## 3.5 Questions

In [ ]:
# 1. What are the peak sales months of the year?

# 2. Which day of the week does the business record the highest sales?

# 3. Has the average delivery time (from order date to ship date) improved over the years?

# 4. What is the yearly trend of profits?

# 5. What is the monthly average discount given over the years?

# 6. Which products have the highest sales volume?

# 7. Which states have the highest average discounts?

# 8. What is the total sales per category?

# 9. Which customer segment has the highest profit?

# 10. How do sales vary across different shipping modes?